:root {
    --bg-color: #0c0c0c;
    --primary-color: #0d0d0d;
    --secondary-color: #fff;
    --text-color: #fff;
    --text-color-2: #fff;
    --overlay-color: rgb(12 12 12 / 63%);
    --highlight-color: linear-gradient(90deg, #2d7aac 0%, #27c490 27%, #c17fff 100%);
    --secondary-highlight-color: linear-gradient(90deg, #c17fff 0%, #27c490 33%, #2d7aac 79%);
    --green: #29a19d;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --primary-color: #ffffff;
    --secondary-color: #000;
    --text-color: #000;
    --text-color-2: #000;
    --overlay-color: rgb(255 255 255 / 70%);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 60px;
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Marcellus;
}

a,
a:hover {
    color: var(--text-color);
}

p {
    word-break: break-word;
    hyphens: auto;
}

.ovhidden {
    overflow: hidden;
}

.text_2,
.text_2:hover {
    color: var(--text-color-2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



.color_pr {
    color: var(--primary-color) !important;
}

.color_sec {
    color: var(--secondary-color);
}

.highlight {
    color: var(--green);
    fill: var(--green);
    /* Fallback: Set a background color. */
    background-color: rgb(15,67,101) !important;

    /* Create the gradient. */
    background-image: var(--highlight-color) !important;

    /* Set the background size and repeat properties. */
    background-size: fit-content;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.secondaryHighlight {
    color: var(--green);
    fill: var(--green);
    /* Fallback: Set a background color. */
    background-color: rgb(15,67,101) !important;

    /* Create the gradient. */
    background-image: var(--secondary-highlight-color) !important;

    /* Set the background size and repeat properties. */
    background-size: fit-content;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.back {
    margin-top: 16px;
    height: 32px;
    width: 32px;
}

.form-control:focus {
    transition-duration: 0.125s;
    background-color: var(--bg-color) !important;
    border: 1px solid var(--green);
    box-shadow: 0px 0px 8px 2px rgba(41,161,157,0.86);
}